.scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

.scrollbarTrack {
  &&::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.scrollbarThumb {
  &::-webkit-scrollbar-thumb {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: $scrollbarBackgroundColor;
    background-clip: padding-box;

    &:hover {
      background-color: $scrollbarHoverBackgroundColor;
    }
  }
}
